@media screen and (max-width: 600px){
    header{
        margin-top: 1rem !important;
        
    }
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .myblogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
    .contact-content-container{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-container .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-container .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top:1.5rem ;
    }
    .section{
        padding: 2rem 2.5rem !important;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 3rem;
            }
        }
    }
    
}

@media screen and (max-width: 1432px){
    header{
        padding: 0 !important;
    }
    .section{
        padding: 4rem 11rem;
    }
    // .contact-content-container{
    //     flex-direction: column;
    //     .right-contact{
    //         margin-left: 0;
    //         margin-top: 2.5rem;
    //     }
    // }
    // .contact-content-container .right-contact .i-c-2{
    //     flex-direction: column;
    // }

    // .contact-content-container .right-contact .i-c-2 :last-child{
    //     margin-left: 0;
    //     margin-top:1.5rem ;
    // }
    // .contact-content-container .left-contact h4{
    //     font-size: 2.5rem !important;
    // }
}

@media screen and (max-width: 1070px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .about-stats .about-me{
        grid-template-columns: 1fr 1fr;
    }
    .portfolios{
        grid-template-columns: 1fr;
    }
    .myblogs{
        grid-template-columns: 1fr 1fr;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
    .contact-content-container .left-contact h4{
        font-size: 1.5rem !important;
    }
    .awards{
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 970px){
    .section{
        padding: 7rem 6rem;
        
    }
    header{
        padding: 0;
        margin-top: 3rem;
        
    }
    header .right-header{
        padding:0 !important;
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;        
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-gray-5);
        .control{
            margin: 2rem 1rem;
        }
    }
}
@media screen and (max-width: 700px){
    .section{
        padding: 7rem 3rem;
    }
    .timeline{
        grid-template-columns: 1fr;
    }
}
